{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
{% include "partials/_header.html.twig" %}
<main>
<a class="deconexion" href="{{path('app_logout')}}">Déconnexion</a>
<h2>vous êtes connecté <br>en tant que  {{user.firstname}} {{user.name}}</h2>
<div class="text-center mt-5">
{% for work in works %}
  <p>Espace de travail: {{work.name}}</p>
  <p>Capacité: {{work.capacity}} places</p>
  <p>Prix: {{work.price / 100}}€</p>
{% endfor %}
</div>
<ul>
    <li><a href="">Réserver un crénau</a></li>
    <li><a href="{{path('app_payment')}}">Paiments</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
{# <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
  Tooltip on bottom
</button> #}
</main>
{% include "partials/_footer.html.twig" %}
{% endblock %}
