{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include "partials/_header.html.twig" %}
    <main>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {% for flash_success in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash_success }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <h1 class="title">Inscription</h1>
        <div id="registration-form">
            <div id="partOne" class="form-part active">
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }} 
                <div class="form-group">
                    {{ form_label(registrationForm.email, 'Email', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.email, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.plainPassword, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.firstname, 'Prénom', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.firstname, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.name, 'Nom', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.name, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <button type="button" class="btn-rose btn-register next">Suivant</button>
            </div>
            <div id="partTwo" class="form-part">
                <div class="form-group">
                    {{ form_label(registrationForm.company, 'Entreprise', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.company, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.address, 'Adresse', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.address, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.postcode, 'Code postal', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.postcode, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.agreeTerms, 'Accepter les CGV', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(registrationForm.agreeTerms, { 'attr': { 'class': 'form-check-input' } }) }}
                </div>
                <button type="submit" class="btn-rose btn-register">Inscription</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        <div class="end"></div>
    </main>
    {% include "partials/_footer.html.twig" %}

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const partOne = document.getElementById('partOne');
        const partTwo = document.getElementById('partTwo');
        const nextButton = document.querySelector('.next');

        nextButton.addEventListener('click', function () {
            partOne.classList.add('rotate-out');
            partTwo.classList.add('rotate-in');
            partTwo.classList.add('active');

            setTimeout(function () {
                {# partOne.classList.remove('active'); #}
                partOne.classList.remove('rotate-out');
                partTwo.classList.remove('rotate-in');
            }, 800); // Durée de la transition en CSS (0.6s)
        });
    });
</script>

{% endblock %}
